# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
docker/files/checkpoints/MASt3R_ViTLarge_BaseDecoder_512_catmlpdpt_metric.pth
docker/files/checkpoints/checkpoint-aerial-mast3r.pth

debug_render.png
data/*.png
data/*.jpg
output/*png
output/*jpg
*.pth
ign_samples/output/*
data/*
output/*
ign_samples/output*/*
ign_samples/Lille-*
ign_samples/rgb_img_file_20260717_141722_sss4.jpg
ign_samples/rgb_img_file_20260717_141722.jpg
ign_samples/rotation_file_20260717_141722.txt
ign_samples/translation_file_20260717_141722.txt
True/* 
ign_samples/aerialmegadepth/images_scene_name.npy
ign_samples/aerialmegadepth/images.npy
ign_samples/aerialmegadepth/pairs.npy
ign_samples/aerialmegadepth/scenes.npy
segmentation_overlay.jpg
segmentation.raw
ign_samples/ortho_rge.tif
ign_samples/dsm_ortho_2_img/camelia.0.tif
ign_samples/dsm_ortho_2_img/camelia.vrt
ign_samples/dsm_ortho_2_img/depth.tif
ign_samples/dsm_ortho_2_img/ortho_camelia.tiff
ign_samples/dsm_ortho_2_img/points_rgb.ply
ign_samples/dsm_ortho_2_img/R.txt
ign_samples/dsm_ortho_2_img/rgb.png
ign_samples/dsm_ortho_2_img/rge_dsm_corel.tif
ign_samples/dsm_ortho_2_img/rge_dsm_corel.vrt
ign_samples/dsm_ortho_2_img/rge_ortho.tif
ign_samples/dsm_ortho_2_img/T.txt
ign_samples/dsm_ortho_2_img/output/depth.preview.png
ign_samples/dsm_ortho_2_img/output/depth.R_img2world_flip_xy.preview.png
ign_samples/dsm_ortho_2_img/output/depth.R_img2world_flip_xy.tif
ign_samples/dsm_ortho_2_img/output/depth.R_img2world_no_axis_flip.preview.png
ign_samples/dsm_ortho_2_img/output/depth.R_img2world_no_axis_flip.tif
ign_samples/dsm_ortho_2_img/output/depth.tif
ign_samples/dsm_ortho_2_img/output/Lille-150127_0485-11-00002_0000384_dist_corrected_classif.png
ign_samples/dsm_ortho_2_img/output/Lille-150127_0485-11-00002_0000384_dist_corrected.png
ign_samples/dsm_ortho_2_img/output/mesh.ply
ign_samples/dsm_ortho_2_img/output/points_rgb.ply
ign_samples/dsm_ortho_2_img/output/rgb.png
ign_samples/dsm_ortho_2_img/output/rgb.R_img2world_flip_xy.png
ign_samples/dsm_ortho_2_img/output/rgb.R_img2world_no_axis_flip.png
